$gray-base = #000;
$gray-darker =  lighten($gray-base, 13.5%); // #222
$gray-dark = #212121;
$gray = #666;
$gray-light = #bbb;
$gray-lighter =  lighten($gray-base, 93.5%); // #eee

$brand-primary = #2196F3;
$brand-success = #4CAF50;
$brand-info = #9C27B0;
$brand-warning = #ff9800;
$brand-danger = #e51c23;

$header-height = 48px;
$sidebar-width = 280px;

$space = 10px

body
  font-weight: 200

.navbar
  min-height: $header-height !important
  z-index: 100

.navbar-brand
  height: $header-height
  padding: 14px 15px

.navbar-nav
  margin: 0
  li > a
    padding-top: $space !important
    padding-bottom: $space !important
  
.navbar-right
  float: right !important;
  margin-right: -15px;

.contents
  padding-top: $header-height + $space

.sidebar
  position: fixed
  width: $sidebar-width
  overflow-y: auto
  top: $header-height
  left: 0
  bottom: 0

  border-style: solid
  border-width: 0px 1px
  border-color: $gray-lighter
  *
    word-wrap: break-word
    cursor: pointer
    p
      margin: 0

.sidebar .is-active
  background-color: $gray-lighter

.main
  margin-left: $sidebar-width

.iterable-item
  padding: $space

  border-width: 0px 0px 1px
  border-style: solid
  border-color: $gray-lighter
